{% extends "WFUserBundle::layoutProfile.html.twig" %}
    {% block fos_user_content %}
        <div class="wrapper">
        	<div class="container content profile">
            	<div class="row">
                    <!--Left Sidebar-->
                    <div class="col-md-3 md-margin-bottom-40">
                        {% if not app.user.path %}
                            {% set imgSrc = '../holder.jpg'%}
                        {% else %}
                            {% set imgSrc = app.user.path %}
                        {% endif %}
                        <img class="img-responsive profile-img margin-bottom-20" src="{{ asset('upload/users/'~ app.user.id ~'/' ~ imgSrc) }}" alt="" width="300">

                        <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                             <li class="list-group-item">
                                <a href="{{path('recruteur_profile_wall')}}"><i class="fa fa-user"></i> Profile</a>
                            </li>
                            {# <li class="list-group-item ">
                                <a href="{{path('recruteur_profile_users')}}"><i class="fa fa-group"></i> Contacts</a>
                            </li> #}
                            <li class="list-group-item active">
                                <a href="{{path('tests_recruteur')}}"><i class="fa fa-cubes"></i> My Tests</a>
                            </li>
                           
                            <li class="list-group-item ">
                                <a href="{{path('recruteur_profile_edit')}}"><i class="fa fa-cog"></i> Settings</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}