{% extends "WFUserBundle::layoutProfile.html.twig" %}
    {% block fos_user_content %}
        <div class="wrapper">
            <!--=== Profile ===-->
            <div class="container content profile">
            	<div class="row">
                    <!--Left Sidebar-->
                    <div class="col-md-3 md-margin-bottom-40">
                        {% if not app.user.path %}
                            {% set imgSrc = '../holder.jpg'%}
                        {% else %}
                            {% set imgSrc = app.user.path %}
                        {% endif %}
                        <img class="img-responsive profile-img margin-bottom-20" src="{{ asset('upload/users/'~ app.user.id ~'/' ~ imgSrc) }}" alt="" width="300">


                        <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                           
                            <li class="list-group-item">
                                <a href="{{path('client_profile_wall')}}"><i class="fa fa-user"></i> Profile</a>
                            </li>
                           {#  <li class="list-group-item">
                                <a href="{{path('client_profile_users')}}"><i class="fa fa-group"></i> Contacts</a>
                            </li> #}
                            <li class="list-group-item active">
                                <a href="{{path('client_profile_projects')}}"><i class="fa fa-cubes"></i> My Projects</a>
                            </li>
                           
                            <li class="list-group-item ">
                                <a href="{{path('client_profile_edit')}}"><i class="fa fa-cog"></i> Settings</a>
                            </li>
                        </ul>

                        <div class="panel-heading-v2 overflow-h">
                            <h2 class="heading-xs pull-left"><i class="fa fa-bar-chart-o"></i> Task Progress</h2>
                            <a href="#"><i class="fa fa-cog pull-right"></i></a>
                        </div>
                        <h3 class="heading-xs">Web Design <span class="pull-right">92%</span>
                        </h3>
                        <div class="progress progress-u progress-xxs">
                            <div style="width: 92%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="92" role="progressbar" class="progress-bar progress-bar-u">
                            </div>
                        </div>

                        <h3 class="heading-xs">Unify Project <span class="pull-right">85%</span>
                        </h3>
                        <div class="progress progress-u progress-xxs">
                            <div style="width: 85%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" role="progressbar" class="progress-bar progress-bar-blue">
                            </div>
                        </div>
                        <h3 class="heading-xs">Sony Corporation <span class="pull-right">64%</span>
                        </h3>
                        <div class="progress progress-u progress-xxs margin-bottom-40">
                            <div style="width: 64%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="64" role="progressbar" class="progress-bar progress-bar-dark">
                            </div>
                        </div>

                        <hr>
                        <div class="margin-bottom-50"></div>

                        <!--Datepicker-->
                        <form action="#" id="sky-form2" class="sky-form">
                            <div id="inline-start"></div>
                        </form>
                        <!--End Datepicker-->
                    </div>
                    <!--End Left Sidebar-->
                    <!-- Profile Content -->
            <div class="col-md-9">
                <div class="profile-body">
                    <div class="panel-heading overflow-h">
                            <h2 class="heading-md pull-left"><i class="fa fa-briefcase"></i> All My Projects</h2>
                            <a class="btn-u pull-right" href="{{path('wf_platform_add')}}">New Project</a>
                        </div>
                    

                    <hr>

                    <!--Projects-->
                    <div class="row">
                        {% for l in listeProjet %}
                        <div class="col-sm-6">
                            <div class="easy-block-v1">
                                <img class="img-responsive" src="{{ asset('upload/projet/' ~ l.id ~ '/' ~ l.photo) }}" style="height:200px" alt="">
                                <div class="easy-block-v1-badge rgba-purple">{{l.intitule}}</div>
                            </div>
                            <div class="projects">
                                <h2><a class="color-dark" href="{{path('wf_clien_offre', {'pId': l.id} )}}">{{l.intitule}}</a></h2>
                                <ul class="list-unstyled list-inline blog-info-v2">
                                    <li>By: <a class="color-green" href="#">{{user.Nom}}</a></li>
                                    <li><i class="fa fa-clock-o"></i> {{l.dateDebut|date('d, m, Y')}}</li>
                                </ul>
                                <p>{{l.description}}</p>
                                <p>costs : {{l.budget}} $</p>
                                <br>
                                <h3 class="heading-xs">Project Completeness <span class="pull-right">77%</span></h3>
                                <div class="progress progress-u progress-xxs">
                                    <div class="progress-bar progress-bar-u" role="progressbar" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100" style="width: 77%">
                                    </div>
                                </div>
                                <ul class="list-inline blog-info-v2">
                                    <li>
                                        <strong>12%</strong>
                                        <span>Funded</span>
                                    </li>
                                    <li>
                                        <strong>17%</strong>
                                        <span>Pludged</span>
                                    </li>
                                    <li>
                                        <strong>25</strong>
                                        <span>days to go</span>
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                        {% endfor %}

                       
                    </div><!--/end row-->
                    <!--End Projects-->

                    <hr>

                    
                </div>
            </div>
            <!-- End Profile Content -->
                </div>
            </div><!--/container-->
            <!--=== End Profile ===-->
        </div><!--/wrapper-->
    {% endblock fos_user_content %}

